.card {
  width: 460px;
  height: 500px;
  border: 1px solid #abadae;
  border-radius: 10px;
  display: inline-block;
  /* overflow: hidden; */
}

.card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card_body {
  padding: 25px;
}
.card .card_body .card_subtitle {
  text-transform: uppercase;
  margin: 0;
}

.card .card_body .link {
  color: #777af3;
  font-size: 20px;
}
